# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# --- Node / JS ---
node_modules/
npm-debug.log
yarn-error.log
.pnpm-store

# --- Solidity / Hardhat / Foundry ---
artifacts/
cache/
typechain/
coverage/
coverage.json
*.dbg.json

# --- IDE / Editor ---
.vscode/
.idea/
*.swp

# --- Env / Secrets ---
.env
.env.*